<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="wcfUploadFile">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Amazon.Kingpin.WCF2.API.Services.Data.FileUpload">
        <endpoint address="" behaviorConfiguration="wcfUploadFile" binding="webHttpBinding" bindingConfiguration="wcfUploadFile" contract="Amazon.Kingpin.WCF2.API.Interfaces.IFileUpload">
          <identity>
            <dns value="" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!--<service name="Amazon.Kingpin.WCF2.API.Services.Data.File">
        <endpoint address="" behaviorConfiguration="wcfUploadFile" binding="webHttpBinding" bindingConfiguration="wcfUploadFile" contract="Amazon.Kingpin.WCF2.API.Interfaces.IFile">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>-->      
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="wcfUploadFile" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>